<nav class="navbar navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" aria-expanded="false"
              data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Formula 1</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <!-- <li class="active">
          <a href="#"> Link
            <span class="sr-only">(current)</span>
           </a>
        </li> -->
        <li><a routerLink="/drivers" routerLinkActive="active">Drivers</a></li>
        <li><a routerLink="/constructors" routerLinkActive="active">Constructors</a></li>
        <li><a routerLink="/circuits" routerLinkActive="active">Circuits</a></li>
        <li><a href="#">Races</a></li>
        <li><a href="#">...</a></li>
      </ul>

      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul> -->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<header>
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-lg-offset-3">
          <h1>{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
